/*Notes
Accent: #17a2b8
Hmm: #0069d9
*/
:root {
    --logo-filter: invert(0%);
    --copybtn-width: 49%;
}
body {
	padding-top: 2em;
}

.Logo {
/*	padding-left: calc(calc(10px + 12px) * 2);*/
	font-size: 3.2rem;
	margin-top: .45em;
	margin-left: -.65em;
}

.LogoImg{
	width: 6.4rem;
	filter: var(--logo-filter);
	z-index: -1;
}
.searchbox{
	margin: auto;
	width: 60%;
}
.tiptext{
	width: 60%;
	float: left;
	
}
.searchbtn{
	float: right;
	width: 30%;
}
.total-bookstore {
	margin-top: 1em;
}
.jf-darkToggle {
	border-bottom-width: 0px;padding-bottom: 0px;padding-top: 0px;border-top-width: 0px;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;margin-right: 10px;border-right-width: 0px;border-left-width: 0px;
}

.jf-img-disabled {
	filter: grayscale(100%) !important;
}

.jf-img {
	filter: grayscale(0%);
	filter: brightness(100%);
	-webkit-transition: 0.2s -webkit-filter linear;
	-moz-transition: 0.2s -moz-filter linear;
	-moz-transition: 0.2s filter linear;
	-ms-transition: 0.2s -ms-filter linear;
	-o-transition: 0.2s -o-filter linear;
	transition: 0.2s filter linear, 0.2s -webkit-filter linear;
	
	margin-top: .5rem;
	display: block;
	width: 75% !important;
	height: auto !important;
	margin-left: auto;
	margin-right: auto;
}

.jf-img:hover {
	filter: brightness(80%);
}

.jf-b-sel {
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 80%;
}

.jf-nice-hint {
	margin-top: 0px;
}

.jf-textarea {
	width: 60%;
}

.jf-card {
	max-width: 19rem;
	max-height: 35rem;
}

.jf-card-foot {
	margin-bottom: .5rem;
}

.jf-card-title-smaller{
	font-size: 97%;
}
.btn-share {
	width: var(--copybtn-width);
	height: 2.4em;
}
.btn-copy {
	width: 98.5%;
	margin-top: .25em;
	height: 2.4em;
}
